<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Schedule Planner</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <button stype="button" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span> Search
        </button>
        <li><img src="#" style = "text-align: center"></li>
        <li><a href="#">Username</a></li>
        <li><a href="#">Major</a></li>
        <li><a href="#">Year</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <h2>Dynamic Tabs</h2>
  <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>

  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#FirstYear">First Year</a></li>
    <li><a data-toggle="tab" href="#SecondYear">Second Year</a></li>
    <li><a data-toggle="tab" href="#ThirdYear">Third Year</a></li>
    <li><a data-toggle="tab" href="#ForthYear">Forth Year</a></li>
  </ul>

  <div class="tab-content">
    <div id="FirstYear" class="tab-pane fade">
      <h3>First Year</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="SecondYear" class="tab-pane fade">
      <h3>Second Year</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="ThirdYear" class="tab-pane fade">
      <h3>Third Year</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="ForthYear" class="tab-pane fade">
      <h3>Forth Year</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
  
<p style="page-break-before: always">
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 1366 768" style="enable-background:new 0 0 1366 768;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#0079C4;}
  .st1{fill:none;}
  .st2{fill:#FFFFFF;}
  .st3{font-family:'MyriadPro-Regular';}
  .st4{font-size:33px;}
  .st5{fill:none;stroke:#0079C4;stroke-width:3;stroke-miterlimit:10;}
</style>
  <g>
    <rect id="rect_ECS36A" x="649" y="187" class="st0" width="142" height="72"/>
    <rect x="649.29" y="206.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 658.519 231.7754)" class="st2 st3 st4">ECS 36A</text>
  </g>
  <g>
    <rect id="rect_ECS120" x="649" y="42" class="st0" width="142" height="72"/>
    <rect x="649.29" y="61.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 660.3018 86.7754)" class="st2 st3 st4">ECS 120</text>
  </g>
  <g>
    <rect id="rect_ECS36B" x="649" y="332" class="st0" width="142" height="72"/>
    <rect x="649.29" y="351.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 659.7793 376.7754)" class="st2 st3 st4">ECS 36B</text>
  </g>
  <g>
    <rect id="rect_ECS50" x="864" y="332" class="st0" width="142" height="72"/>
    <rect x="864.29" y="351.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 884.5352 376.7754)" class="st2 st3 st4">ECS 50</text>
  </g>
  <g>
    <rect id="rect_ECS154A" x="1079" y="332" class="st0" width="142" height="72"/>
    <rect x="1079.29" y="351.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 1083.1016 376.7754)" class="st2 st3 st4">ECS154A</text>
  </g>
  <g>
    <rect id="rect_ECS140A" x="648" y="513" class="st0" width="142" height="72"/>
    <rect x="648.29" y="532.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 652.1016 557.7754)" class="st2 st3 st4">ECS140A</text>
  </g>
  <g>
    <rect id="rect_ECS150" x="864" y="649" class="st0" width="142" height="72"/>
    <rect x="864.29" y="668.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 879.1172 693.7754)" class="st2 st3 st4">ECS150</text>
  </g>
  <g>
    <rect id="rect_ECS122A" x="433" y="649" class="st0" width="142" height="72"/>
    <rect x="433.29" y="668.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 437.1016 693.7754)" class="st2 st3 st4">ECS122A</text>
  </g>
  <g>
    <rect id="rect_ECS36C" x="433" y="442" class="st0" width="142" height="72"/>
    <rect x="433.29" y="461.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 443.0957 486.7754)" class="st2 st3 st4">ECS 36C</text>
  </g>
  <g>
    <rect id="rect_ECS20" x="433" y="42" class="st0" width="142" height="72"/>
    <rect x="433.29" y="61.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 453.5352 86.7754)" class="st2 st3 st4">ECS 20</text>
  </g>
  <g>
    <rect id="rect_ECS21A" x="161" y="42" class="st0" width="142" height="72"/>
    <rect x="162.29" y="61.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 165.2549 86.7754)" class="st2 st3 st4">MAT 21A</text>
  </g>
  <g>
    <rect id="rect_MAT21B" x="160" y="187" class="st0" width="142" height="72"/>
    <rect x="160.29" y="206.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 164.5151 231.7754)" class="st2 st3 st4">MAT 21B</text>
  </g>
  <g>
    <rect id="rect_MAT21C" x="160" y="332" class="st0" width="142" height="72"/>
    <rect x="160.29" y="352.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 163.8315 377.7754)" class="st2 st3 st4">MAT 21C</text>
  </g>
  <g>
    <rect id="rect_MAT22A" x="161" y="478" class="st0" width="142" height="72"/>
    <rect x="161.29" y="498.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 164.2549 523.7754)" class="st2 st3 st4">MAT 22A</text>
  </g>
  <g>
    <rect id="rect_ECS132" x="161" y="649" class="st0" width="142" height="72"/>
    <rect x="160.29" y="668.22" class="st1" width="141.39" height="32.78"/>
    <text transform="matrix(1 0 0 1 175.1172 693.7754)" class="st2 st3 st4">ECS132</text>
  </g>
</g>
  <g>
    <line class="st5" x1="720" y1="259" x2="720" y2="332"/>
    <line class="st5" x1="728.5" y1="324.5" x2="719.5" y2="332.5"/>
    <line class="st5" x1="710.5" y1="324.5" x2="719.5" y2="332.5"/>
  </g>
  <g>
    <line class="st5" x1="791" y1="364.5" x2="864" y2="364.36"/>
    <line class="st5" x1="856.48" y1="355.88" x2="864.5" y2="364.86"/>
    <line class="st5" x1="856.52" y1="373.88" x2="864.5" y2="364.86"/>
  </g>
  <g>
    <line class="st5" x1="1006" y1="363.5" x2="1079" y2="363.36"/>
    <line class="st5" x1="1071.48" y1="354.88" x2="1079.5" y2="363.86"/>
    <line class="st5" x1="1071.52" y1="372.88" x2="1079.5" y2="363.86"/>
  </g>
  <g>
    <line class="st5" x1="233.5" y1="114" x2="233.5" y2="187"/>
    <line class="st5" x1="242" y1="179.5" x2="233" y2="187.5"/>
    <line class="st5" x1="224" y1="179.5" x2="233" y2="187.5"/>
  </g>
  <g>
    <line class="st5" x1="232.5" y1="259" x2="232.5" y2="332"/>
    <line class="st5" x1="241" y1="324.5" x2="232" y2="332.5"/>
    <line class="st5" x1="223" y1="324.5" x2="232" y2="332.5"/>
  </g>
  <g>
    <line class="st5" x1="231.5" y1="404" x2="231.5" y2="477"/>
    <line class="st5" x1="240" y1="469.5" x2="231" y2="477.5"/>
    <line class="st5" x1="222" y1="469.5" x2="231" y2="477.5"/>
  </g>
  <g>
    <line class="st5" x1="302.5" y1="77.5" x2="432.5" y2="77.5"/>
    <line class="st5" x1="422.5" y1="66.5" x2="433.5" y2="79.5"/>
    <line class="st5" x1="423.5" y1="87.5" x2="432.5" y2="77.5"/>
  </g>
  <g>
    <line class="st5" x1="574.5" y1="77.5" x2="649.5" y2="77.5"/>
    <line class="st5" x1="637.5" y1="67.5" x2="649.5" y2="77.5"/>
    <line class="st5" x1="639.5" y1="88.5" x2="649.5" y2="77.5"/>
  </g>
  <g>
    <line class="st5" x1="697.5" y1="466.5" x2="698.5" y2="513.5"/>
    <line class="st5" x1="574.5" y1="466.5" x2="698.5" y2="466.5"/>
    <line class="st5" x1="688.5" y1="502.5" x2="697.5" y2="513.5"/>
    <line class="st5" x1="707.5" y1="503.5" x2="699.5" y2="513.5"/>
    <line class="st5" x1="707.5" y1="503.5" x2="707.5" y2="503.5"/>
  </g>
  <g>
    <line class="st5" x1="935.86" y1="403" x2="935.5" y2="466.5"/>
    <line class="st5" x1="742.5" y1="466.5" x2="935.5" y2="466.5"/>
    <line class="st5" x1="743.5" y1="513" x2="743.5" y2="467"/>
    <line class="st5" x1="733.5" y1="504.5" x2="742.5" y2="512.5"/>
    <line class="st5" x1="752.5" y1="505.5" x2="744.5" y2="512.5"/>
    <line class="st5" x1="750.5" y1="505.5" x2="750.5" y2="505.5"/>
  </g>
  <g>
    <line class="st5" x1="230.5" y1="548.5" x2="230.5" y2="649.5"/>
    <line class="st5" x1="222.5" y1="640.5" x2="230.5" y2="649.5"/>
    <line class="st5" x1="237.5" y1="640.5" x2="230.5" y2="649.5"/>
  </g>
  <line class="st5" x1="252.5" y1="640.5" x2="259.5" y2="648.5"/>
  <g>
    <line class="st5" x1="470.5" y1="513.5" x2="470.5" y2="597.5"/>
    <line class="st5" x1="260.5" y1="597.5" x2="470.5" y2="597.5"/>
    <line class="st5" x1="260.5" y1="649.5" x2="260.5" y2="597.5"/>
    <line class="st5" x1="269.5" y1="640.5" x2="260.5" y2="648.5"/>
  </g>
  <g>
    <line class="st5" x1="503.86" y1="513" x2="503.86" y2="658.5"/>
    <line class="st5" x1="495.5" y1="641.5" x2="503.5" y2="649.5"/>
    <line class="st5" x1="511.5" y1="641.5" x2="503.5" y2="649.5"/>
  </g>
  <g>
    <line class="st5" x1="540" y1="513" x2="540" y2="611"/>
    <line class="st5" x1="539.5" y1="610.5" x2="926.5" y2="611.5"/>
    <line class="st5" x1="926.5" y1="649.5" x2="926.5" y2="611.5"/>
    <line class="st5" x1="919.5" y1="643.5" x2="926.5" y2="649.5"/>
    <line class="st5" x1="932.5" y1="643.5" x2="926.5" y2="649.5"/>
  </g>
  <g>
    <line class="st5" x1="1151.5" y1="404.5" x2="1151.5" y2="611.5"/>
    <line class="st5" x1="967" y1="611.5" x2="1152" y2="611.5"/>
    <line class="st5" x1="966.5" y1="649.5" x2="966.5" y2="611.5"/>
    <line class="st5" x1="960.5" y1="643.5" x2="966.5" y2="649.5"/>
    <line class="st5" x1="972.5" y1="643.5" x2="966.5" y2="649.5"/>
  </g>
  <g>
    <line class="st5" x1="505.5" y1="113.5" x2="506.5" y2="448.5"/>
    <line class="st5" x1="497.5" y1="434.5" x2="506.5" y2="441.5"/>
    <line class="st5" x1="514.5" y1="434.5" x2="506.5" y2="441.5"/>
  </g>
  <g>
    <line class="st5" x1="547.5" y1="367.5" x2="649.5" y2="367.5"/>
    <line class="st5" x1="547.5" y1="441.5" x2="547.5" y2="367.5"/>
    <line class="st5" x1="538.5" y1="434.5" x2="547.5" y2="441.5"/>
    <line class="st5" x1="555.5" y1="434.5" x2="547.5" y2="441.5"/>
  </g>
  <g>
    <line class="st5" x1="934.5" y1="332.5" x2="933.5" y2="19.5"/>
    <line class="st5" x1="122.5" y1="19.5" x2="933.5" y2="19.5"/>
    <line class="st5" x1="121.5" y1="684.5" x2="122.5" y2="19.5"/>
    <line class="st5" x1="161.5" y1="684.5" x2="121.5" y2="684.5"/>
    <line class="st5" x1="151.5" y1="674.5" x2="161.5" y2="684.5"/>
    <line class="st5" x1="152.5" y1="693.5" x2="161.5" y2="684.5"/>
  </g>
</g>
</svg>
</p>

</body>
</html>

