<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Schedule Planner</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <button stype="button" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span> Search
        </button>
        <li><img src="#" style = "text-align: center"></li>
        <li><a href="#">Username</a></li>
        <li><a href="#">Major</a></li>
        <li><a href="#">Year</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container">
  <ul class="nav nav-pills">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">First Year
       <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Fall</a></li>
          <li><a href="#">Winter</a></li>
          <li><a href="#">Spring</a></li>
          <li><a href="#">Summer</a></li>
        </ul>
      </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Second Year
       <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Fall</a></li>
          <li><a href="#">Winter</a></li>
          <li><a href="#">Spring</a></li>
          <li><a href="#">Summer</a></li>
        </ul>
      </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Third Year
       <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Fall</a></li>
          <li><a href="#">Winter</a></li>
          <li><a href="#">Spring</a></li>
          <li><a href="#">Summer</a></li>
        </ul>
      </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Forth Year
       <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Fall</a></li>
          <li><a href="#">Winter</a></li>
          <li><a href="#">Spring</a></li>
          <li><a href="#">Summer</a></li>
        </ul>
      </li>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>First Year</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Second Year</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Third Year</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Forth Year</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>




</body>
</html>