<!DOCTPYE html> 
<html>
<head>
  <title>Login</title>
  <script src="/static/js/jquery-1.11.2.js"></script>
  <script src="/static/js/obj2json.js"></script>
</head>
<body>
  <p><a href="/register/">Register</a></p>
  <form id="form" action="/login/" method="POST" onsubmit="event.preventDefault()">
    {% csrf_token %}
    <input id="username" type="name" name="username" />
    <input id="password" type="password" name="password" />
    <input id="submit" type="submit" value="Submit" />
  </form>
  <script>
$("#submit").on("click", function(e) {
	Ajax("/login/", "POST", {
		"username": $("#username")[0].value,
		"password": $("#password")[0].value,
	}, $("#form"));
});
  </script>
</body>
</html>
